
html, body {
    width: 10%;
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}


.multi-level, .item ul, .nav input[type="checkbox"] {
    display: none;
}
#menu:checked ~ .multi-level, .item input:checked ~ ul {
    display: block;
}

.arrow {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    float: left;
    z-index: 0;
    margin: 17px 1em 0 2em;
}
.item input + .arrow {
    transform: rotate(-90deg);
    transition: 0.1s;
}
.item input:checked + .arrow {
    transform: rotate(0deg);
    transition: 0.1s;
}

label:hover {
    cursor:pointer;
}
label {
    background-color: coral;
    width: 100%;
    display: block;
    z-index: 3;
    position: relative;
}
.nav { 
    width:300px;
    height:1000px;
    background-color:transparent;
    overflow-x: hidden;
    border-bottom: 1px solid #CFD8DC;
}

#nav-icon {
    font-size: 28px;
    line-height: 50px;
    padding-left: 1em;
    color:white;
    background-color:grey;
}

.nav ul, .nav li, label {
    line-height: 50px;
    margin: 0;
    padding: 0 2em;
    list-style: none;
    text-decoration: none;
    color:ivory;
    font-weight: 100;
    width: 100%;
}
.item ul {
    padding: 0 0.25em;
}
.nav li a {
    line-height: 50px;
    margin: 0;
    padding: 0 4em;
    list-style: none;
    text-decoration: none;
    color: #90A4AE;
    font-weight: 100;
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    
    background-color: inherit;
    font-family: inherit;
    
  }
  
  .nav a:hover, .dropdown:hover {
    background-color: rgb(236, 6, 6);
  }
  
  
  
  .dropdown:hover {
      
    display: block;
  }
  .nav .subject a{
      float:left;
      font-size:16px;
      color:red;
      text-align: center;
      padding: 14px 16px;
  }

